.icons-phone::before{content: 'f879'; font-weight: 400;}
.icons-angle-up::before{content: 'f106'; font-weight: 300;}
.icons-search::before{content: 'f002'; font-weight: 300;}
.icons-user::before{content: 'f007'; font-weight: 300;}
.icons-telegram::before{content: 'f3fe'; font-weight: 400;}
.icons-facebook::before{content: 'f09a'; font-weight: 400;}
.icons-instagram::before{content: 'f16d'; font-weight: 400;}